.title {
  text-align: center;
  color: rgb(43, 48, 54);
  font-family: "Times New Roman", Times, serif;
  font-size: 75px;
  text-shadow: #343a40 --2px;
}
.icon {
  text-align: center;
  color: rgb(102, 102, 102);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.footer {
  background-color: rgb(43, 48, 54);
  color: aliceblue;
  text-align: center;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title-small {
  text-align: center;
  color: rgb(165, 175, 175);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 45px;
}
h3 {
  text-align: center;
  color: rgb(43, 48, 54);
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-shadow: #343a40 --2px;
}
.h50 {
  height: 50px;
}
.h30 {
  height: 30px;
}
.h10 {
  height: 10px;
}
.quotetable {
  text-align: left;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: #343a40 --2px;
  height: 100;
}
.logo {
  height: 32px;
  width: 32px;
}
